@import "variables";

body {
  background-image: url(../home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-attachment: fixed;
  width: 100%;
  margin: 0;

  
  @media screen and (max-width: 1024px) {
    background-image: url(../home/background-home-tablet.jpg);
  }
  
  @media screen and (max-width: 767px) {
    background-image: url(../home/background-home-mobile.jpg);
  }
  
  &.destination-body {
    background-image: url(../destination/background-destination-desktop.jpg);
    @media screen and (max-width: 1024px) {
      background-image: url(../destination/background-destination-tablet.jpg);
    }
  
    @media screen and (max-width: 767px) {
      background-image: url(../destination/background-destination-mobile.jpg);
    }
  }

  &.crew-body {
    background-image: url(../crew/background-crew-desktop.jpg);
    @media screen and (max-width: 1024px) {
      background-image: url(../crew/background-crew-tablet.jpg);
    }
  
    @media screen and (max-width: 767px) {
      background-image: url(../crew/background-crew-mobile.jpg);
    }
  }

  &.technology-body {
    background-image: url(../technology/background-technology-desktop.jpg);
    @media screen and (max-width: 1024px) {
      background-image: url(../technology/background-technology-tablet.jpg);
    }
  
    @media screen and (max-width: 767px) {
      background-image: url(../technology/background-technology-mobile.jpg);
    }
  }

}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}


.navigation {
  @include spacing("padding", "left", 7);
  display: flex;
  @include spacing("margin", "top", 5);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1024px) {
    @include spacing("padding", "left", 5);
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    @include spacing("padding", "horizontal", 3);
    @include spacing("margin", "top", 3);
  }

  &_brand {
    img {
      width: 48px;
      height: 48px;
      @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &_line {
    display: flex;
    height: 1px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.25);
    flex-shrink: 1;
    flex-grow: 1;
    z-index: 2;
    left: 64px;
    @include spacing("margin", "right", 3);
    position: relative;

    @media screen and (max-width: 1024px) {
      display: none;
    }

  }

  &_ham {
    display: none;

    &--close {
      display: none;
    }
    @media screen and (max-width: 767px) {
      display: block;

      &--close {
        display: block;
        width: max-content;
        align-self: flex-end;
        @include spacing("margin", "right", 3);
      }

    }

  }

  &_list {
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    margin: 0;
    padding: 0;
    @include spacing("padding", "right", 20);
    @include spacing("padding", "left", 16);
    list-style-type: none;

    @media screen and (max-width: 1024px) {
      @include spacing("padding", "horizontal", 6);
      column-gap: 40px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 0;
      @include spacing("margin", "top", 8);
    }


    &--item {
      display: block;
      box-sizing: border-box;
      @include spacing("margin", "vertical", 5);
      
      &.active {
        a {
          border-bottom: solid 3px map-get($colors, white);
          &:hover {
            border-bottom: solid 3px map-get($colors, white);
          }  
        }
      }
      a {
        transition: border-color 0.3s ease-in-out;
        @include spacing("padding", "vertical", 5);
        padding-bottom: 37px;
        box-sizing: border-box;
        border-bottom: solid 3px transparent;
        &:hover {
          border-bottom: solid 3px rgba($color: #FFFFFF, $alpha: 0.5);
        }
        span {
          font-weight: bold;
        }
        @include font("Barlow", "nav_text");
        text-decoration: none;
        text-transform: uppercase;
        color: map-get($colors, white);
      }

      @media screen and (max-width: 1024px) {
        a {
          @include font("Barlow", "sub_heading2");
          span {
            display: none;
          }
        }
      }
      @media screen and (max-width: 767px) {
        margin: 0;
        @include spacing("margin", "bottom", 4);
        padding: 6px 0;
        &.active {
          border-right: solid 4px map-get($colors, white);
          a {
            border-bottom: unset;
            &:hover {
              border-bottom: unset
            }
          }
        }
        
        a {
          @include font("Barlow", "nav_text");
          border-bottom: unset;
          padding: 0;
          &:hover {
            border-bottom: unset;
          }
          span {
            display: unset;
          }
        }
      }

    }

    &--container {
      background-color: rgba($color: map-get($colors, white), $alpha: 0.04);
      backdrop-filter: blur(81.55px);
      @media screen and (max-width: 767px) {

        &.active {
          display: flex;
        }

        position: fixed;
        right: 0;
        display: none;
        flex-direction: column;
        top: 0;
        width: 68vw;
        z-index: 1;
        height: 100vh;
        box-sizing: border-box;
        @include spacing("padding", "all", 4);
        padding-right: 0;
      }
    }
  }

}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  @include spacing("padding", "horizontal", 21);
  @include spacing("margin", "top", 28);

  @media screen and (max-width: 1024px) {
    @include spacing("margin", "top", 14);
    flex-direction: column;
    align-items: center;
    row-gap: 160px;
  }

  @media screen and (max-width:767px) {
    @include spacing("padding", "horizontal", 3);
    row-gap: 80px;
    @include spacing("margin", "top", 9);
  }

  &_content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @media screen and (max-width: 1024px) {
      align-items: center;
    }

    @media screen and (max-width: 767px) {
      row-gap: 16px;
    }

    h5 {
      @include font("Barlow", "h5");
      color: map-get($colors, lavender_blue);
      @media screen and (max-width: 1024px) {
        font-size: 20px;
        letter-spacing: 3.38px;
      }

      @media screen and (max-width: 767px) {
        @include font("Barlow", "nav_text");
      }

    }
    h1 {
      @include font("Bellefair", "h1");
      color: map-get($colors, white);
      @media screen and (max-width: 767px) {
        font-size: 80px;
        line-height: 100px;
      }
    }
    p {
      @include font("Barlow", "body");
      color: map-get($colors, lavender_blue);
      @media screen and (max-width: 1024px) {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
      }

      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 25px;
      }

    }
  }

  &_action {
    width: 274px;
    height: 274px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, white);

    @media screen and (max-width: 1024px) {
      width: 242px;
      height: 242px;
    }

    @media screen and (max-width: 767px) {
      width: 150px;
      height: 150px;
    }

    &:hover {
      &::before {
        content: '';
        width: calc(274px * 1.5);
        height: calc(274px * 1.5);
        background-color: map-get($colors, white);
        opacity: 0.10;
        position: absolute;
        z-index: -1;
        animation-name: bubble;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        border-radius: 50%;
      }
    }

    a {
      @include font("Bellefair", "h4");
      color: map-get($colors, rich_black);
      text-decoration: none;
      padding: 128px 64px;
      border-radius: 50%;

      @media screen and (max-width: 767px) {
        font-size: 20px;
        padding: 64px 24px;
        letter-spacing: 1.25px;
      }

    }
  }

}

@keyframes bubble {
  0% {
    width: calc(274px * 1.0);
    height: calc(274px * 1.0);
  }

  50% {
    width: calc(274px * 1.5);
    height: calc(274px * 1.5);
  }

  100% {
    width: calc(274px * 1.0);
    height: calc(274px * 1.0);
  }

}

@media screen and (max-width: 767px) {
  @keyframes bubble {
    0% {
      width: calc(150px * 1.0);
      height: calc(150px * 1.0);
    }
  
    50% {
      width: calc(150px * 1.5);
      height: calc(150px * 1.5);
    }
  
    100% {
      width: calc(150px * 1.0);
      height: calc(150px * 1.0);
    }
  
  }
}

@media screen and (max-width: 1024px) {
  @keyframes bubble {
    0% {
      width: calc(242px * 1.0);
      height: calc(242px * 1.0);
    }
  
    50% {
      width: calc(242px * 1.5);
      height: calc(242px * 1.5);
    }
  
    100% {
      width: calc(242px * 1.0);
      height: calc(242px * 1.0);
    }
  
  }
}


.destination {
  @include spacing("padding", "horizontal", 21);
  @include spacing("margin", "top", 9);

  @media screen and (max-width: 1024px) {
    @include spacing("padding", "horizontal", 5);
    @include spacing("margin", "top", 5);
  }

  @media screen and (max-width: 767px) {
    @include spacing("padding", "horizontal", 3);
    @include spacing("margin", "top", 4);
  }

  &_heading {
    span {
      opacity: 0.25;
      font-weight: bold;
      @include spacing("margin", "right", 3);
    }
    text-transform: uppercase;
    color: map-get($colors, white);
    @include font("Barlow", "h5");

    @media screen and (max-width: 1024px) {
      span {
        @include spacing("margin", "right", 2);
      }
      font-size: 20px;
      letter-spacing: 3.38px;
    }

    @media screen and (max-width: 767px) {
      span {
        @include spacing("margin", "right", 3);
      }
      @include font("Barlow", "nav_text");
      text-align: center;
    }

  }

  &_tab {
    @include spacing("margin", "top", 8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 160px;
    @media screen and (max-width: 767px) {
      @include spacing("margin", "top", 4);
    }
    &--list {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin: 0;
      column-gap: 32px;
      grid-column: 2;
      @include spacing("margin", "bottom", 4);
      &-item {
        @include font("Barlow", "nav_text");
        color: map-get($colors, lavender_blue);
        text-transform: uppercase;
        padding-bottom: 12px;
        border-bottom: solid 3px transparent;
        cursor: pointer;
        transition: border-color 0.30s ease-in-out;
        &:hover {
          border-color: rgba($color: #FFFFFF, $alpha: 0.5);
        }

        &.active {
          color: map-get($colors, white);
          border-color: map-get($colors, white);
          &:hover {
            border-color: map-get($colors, white);
          }
        }

      }

      @media screen and (max-width: 1024px) {
        grid-row: 2;
        grid-column: 1 / 3;
        justify-self: center;
      }

      @media screen and (max-width: 767px) {
        @include spacing("margin", "bottom", 2);
        &-item {
          padding-bottom: 8px;
          @include font("Barlow", "sub_heading2");
        }
      }

    }

    &--item {
      &-img {
        grid-row: 2;
        grid-column: 1 / 2;
        display: flex;
        justify-content: flex-end;
        &_slide {
          display: none;

          &.active {
            display: block;
          }

        }

        img {
          display: block;
          width: 100%;
          max-width: 445px;
          max-height: 445px;
        }

        @media screen and (max-width: 1024px) {
          grid-row: 1;
          grid-column: 1 / 3;
          justify-content: center;
          @include spacing("margin", "bottom", 7);
          img {
            max-width: 300px;
            max-height: 300px;
          }
        }

        @media screen and (max-width: 767px) {
          @include spacing("margin", "bottom", 3);
          img {
            max-width: 170px;
            max-height: 170px;
          }
        }

      }

      &-content {
        grid-row: 2;
        grid-column: 2 / 3;
        &_slide {
          display: none;
          &.active {
            display: block;
          }

          h2 {
            @include font("Bellefair", "h2");
            color: map-get($colors, white);
            @include spacing("margin", "bottom", 2);
            text-transform: uppercase
          }
          p {
            @include font("Barlow", "body");
            color: map-get($colors, lavender_blue);
            @include spacing("margin", "bottom", 7);
          }
          hr {
            border-color: #383B4B;
            margin: 0;
            @include spacing("margin", "bottom", 4);
          }
        }

        &_group {
          display: flex;
          flex-direction: row;
          column-gap: 80px;
        }

        &_card {

          h5 {
            @include font("Barlow", "sub_heading2");
            text-transform: uppercase;
            color: map-get($colors, lavender_blue);
            @include spacing("margin", "bottom", 2);
          }

          p {
            color: map-get($colors, white);
            text-transform: uppercase;
            margin-bottom: 0;
            @include font("Bellefair", "sub_heading1");
          }

        }

        @media screen and (max-width: 1024px) {
          grid-row: 3;
          grid-column: 1 / 3;

          &_slide {
            
            &.active {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            h2 {
              font-size: 80px;
              @include spacing("margin", "bottom", 1);
            }

            p {
              max-width: 572px;
              text-align: center;
              @include spacing("margin", "bottom", 6);
            }

            hr {
              width: 100%;
            }

          }

        }

        @media screen and (max-width: 1024px) {
          
          &_slide {
            
          
            h2 {
              @include font("Bellefair", "h3");
              margin-bottom: unset;
            }

            p {
              font-size: 15px;
              line-height: 25px;
              @include spacing("margin", "bottom", 3);
            }

            hr {
              @include spacing("margin", "bottom", 3);
            }

          }

          &_group {
            flex-direction: column;
            row-gap: 32px; 
          }

          &_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              font-size: 28px;
            }
          }

        }

      }

    }

  }

}

.crew {
  @include spacing("padding", "horizontal", 21);
  @include spacing("margin", "top", 9);
  @include spacing("padding", "right", 16);
  @media screen and (max-width: 1024px) {
    @include spacing("padding", "horizontal", 5);
    @include spacing("margin", "top", 5);
  }

  @media screen and (max-width: 767px) {
    @include spacing("padding", "horizontal", 3);
    @include spacing("margin", "top", 4);
    @include spacing("margin", "bottom", 4);
  }

  
  &_carousel {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr repeat(2, max-content);
    row-gap: 24px;
    height: calc(100vh - 212px);
    &--heading {
      grid-column: 1 / 2;
      grid-row: 1;
      span {
        opacity: 0.25;
        font-weight: bold;
        @include spacing("margin", "right", 3);
      }
      text-transform: uppercase;
      color: map-get($colors, white);
      @include font("Barlow", "h5");
  
      @media screen and (max-width: 1024px) {
        @include spacing("margin", "bottom", 8);
        span {
          @include spacing("margin", "right", 2);
        }
        font-size: 20px;
        letter-spacing: 3.38px;
      }
  
      @media screen and (max-width: 767px) {
        span {
          @include spacing("margin", "right", 3);
        }
        @include font("Barlow", "nav_text");
        text-align: center;
      }
  
    }

    &--pagination {
      grid-column: 1 / 2;
      grid-row: 3;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      column-gap: 24px;
      margin: 0;
      height: max-content;
      padding: 0;
      @include spacing("margin", "top", 12);
      @include spacing("margin", "bottom", 12);
      &-dot {
        transition: background-color 0.30s ease-in-out;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba($color: map-get($colors, white), $alpha: 0.18);
        cursor: pointer;
        &:hover, &:active {
          background-color: rgba($color: map-get($colors, white), $alpha: 0.50);
        }

        &.active {
          background-color: map-get($colors, white);
          &:hover, &:active {
            background-color: map-get($colors, white);
          }
        }

      }

    }

    &--item {
      &-content {
        grid-column: 1 / 2;
        grid-row: 2;
        &_slide {
          display: none;
          &.active {
            display: block;
          }

          h4 {
            @include font("Bellefair", "h4");
            color: rgba($color: map-get($colors, white), $alpha: 0.5);
            text-transform: uppercase;
            @include spacing("margin", "bottom", 2);
          }
          h3 {
            @include font("Bellefair", "h3");
            color: map-get($colors, white);
            text-transform: uppercase;
            @include spacing("margin", "bottom", 3);
          }
          p {
            @include font("Barlow", "body");
            color: map-get($colors, lavender_blue); 
            max-width: 444px;        
          }
        }
      }

      &-img {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        height: inherit;
        &_slide {
          display: none;
          height: inherit;
          align-items: flex-end;
          &.active {
            display: flex;
          }

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }

      }

    }
  
    @media screen and (max-width: 1024px) {
      grid-template-columns: unset;
      grid-template-rows: max-content;
      height: calc(100vh - 138px);
      row-gap: unset;
      align-items: flex-end;
      &--heading {
        grid-column: unset;
        grid-row: unset;
        @include spacing("margin", "bottom", 8);
      }

      &--pagination {
        grid-column: unset;
        grid-row: unset;
        @include spacing("margin", "vertical", 5);
        justify-content: center;
        column-gap: 16px;
        &-dot {
          width: 10px;
          height: 10px;
        }

      }

      &--item {
        &-content {
          grid-column: unset;
          grid-row: unset;
          &_slide {
            &.active {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            h4 {
              @include spacing("margin", "bottom", 1);
              font-size: 24px;
            }
            h3 {
              font-size: 40;
              @include spacing("margin", "bottom", 2);
            }
            p {
              font-size: 16px;
              line-height: 28px;
              max-width: unset;
              @include spacing("padding", "horizontal", 12);
            }
            * {
              text-align: center;
            }
          }
        }
        &-img {
          height: unset;
          grid-column: unset;
          grid-row: unset;

          &_slide {
            align-items: unset;
            justify-content: center;
            img {
              max-width: 513px;
              max-height: 513px;
            }
          }

        }
      }

    }

    @media screen and (max-width: 767px) {
      grid-template-columns: unset;
      grid-template-rows: repeat(4, max-content);
      height: calc(100vh - 100px);
      @include spacing("margin", "bottom", 5);
      row-gap: unset;
      align-items: flex-end;
      &--heading {
        grid-column: unset;
        grid-row: 1;
        @include spacing("margin", "bottom", 4);
      }

      &--pagination {
        grid-column: unset;
        grid-row: 3;
        @include spacing("margin", "vertical", 4);
        justify-content: center;
        column-gap: 16px;
        &-dot {
          width: 10px;
          height: 10px;
        }

      }

      &--item {
        &-content {
          grid-column: unset;
          grid-row: 4;
          &_slide {
            &.active {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            h4 {
              @include spacing("margin", "bottom", 1);
              font-size: 16px;
            }
            h3 {
              font-size: 24px;
              @include spacing("margin", "bottom", 2);
            }
            p {
              font-size: 15px;
              line-height: 25px;
              max-width: unset;
              padding: unset;
            }
            * {
              text-align: center;
            }
          }
        }
        &-img {
          height: unset;
          grid-column: unset;
          grid-row: 2;

          &_slide {
            align-items: unset;
            justify-content: center;
            img {
              max-width: unset;
              width: 100%;
              height: auto;
              aspect-ratio: 16 / 9;
              object-fit: contain;
              max-height: unset;
              border-bottom: solid 1px #383B4B;
            }
          }

        }
      }

    }

  }
}

.technology {
  @include spacing("padding", "left", 21);
  @include spacing("margin", "top", 9);

  @media screen and (max-width: 1024px) {
    @include spacing("margin", "top", 5);
    padding: 0;
    
  }

  @media screen and (max-width: 767px) {
    @include spacing("margin", "top", 4);
  }

  &_heading {
    span {
      opacity: 0.25;
      font-weight: bold;
      @include spacing("margin", "right", 3);
    }
    text-transform: uppercase;
    color: map-get($colors, white);
    @include font("Barlow", "h5");

    @media screen and (max-width: 1024px) {
      @include spacing("padding", "horizontal", 5);
      span {
        @include spacing("margin", "right", 2);
      }
      font-size: 20px;
      letter-spacing: 3.38px;
    }

    @media screen and (max-width: 767px) {
      @include spacing("padding", "horizontal", 3);
      span {
        @include spacing("margin", "right", 3);
      }
      @include font("Barlow", "nav_text");
      text-align: center;
    }

  }

  &_carousel {
    display: grid;
    @include spacing("margin", "top", 3);
    grid-template-columns: max-content repeat(2, 1fr);
    align-items: center;
    &--pagination {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      &-no {
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 50%;
        border:  solid 1px rgba($color: map-get($colors, white), $alpha: 0.5);
        transition: border-color 0.30s ease-in-out, background-color 0.30s ease-in-out;
        color: map-get($colors, white);
        display: flex;
        align-items: center;
        justify-content: center;
        @include font("Bellefair", "h4");
        letter-spacing: 2px;
        &.active {
          background-color: map-get($colors, white);
          border-color: map-get($colors, white);
          color: map-get($colors, rich_black);
          &:hover, &:active {
            border-color: transparent;
          }
        }

        &:hover, &:active {
          border-color: map-get($colors, white);
        }


      }

    }

    &--item {
      
      &-content {
        @include spacing("margin", "left", 9);
        @include spacing("margin", "right", 5);
        &_slide {
          display: none;
          &.active {
            display: block;
          }

          h6 {
            @include font("Barlow", "nav_text");
            color: map-get($colors, lavender_blue);
            opacity: 0.5;
            text-transform: uppercase;
            @include spacing("margin", "bottom", 2);
          }

          h3 {
            @include font("Bellefair", "h3");
            color: map-get($colors, white);
            text-transform: uppercase;
            @include spacing("margin", "bottom", 2);
          }

          p {
            @include font("Barlow", "body");
            color: map-get($colors, lavender_blue);
            max-width: 444px;
          }

        }
      }

      &-img {
        display: flex;
        justify-content: flex-end;
        &_slide {
          display: none;
          &.active {
            display: block;
          }
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }

    }

    @media screen and (max-width: 1024px) {
      @include spacing("margin", "top", 7);
      grid-template-columns: unset;
      grid-template-rows: auto;

      &--pagination {
        flex-direction: row;
        justify-content: center;
        column-gap: 16px;
        @include spacing("margin", "bottom", 6);
        &-no {
          width: 60px;
          height: 60px;
          font-size: 24px;
          letter-spacing: 1.5px;
        }

      }

      &--item {
        &-content {
          margin: 0;
          &_slide {
            &.active {
              display: flex;
            }
            flex-direction: column;
            align-items: center;
            * {
              text-align: center;
            }
            h3 {
              font-size: 40px;
            }
            p {
              max-width: 458px;
              font-size: 16px;
              line-height: 28px;
            }
          }
        }

        &-img {
          grid-row: 1;
          @include spacing("margin", "bottom", 7);
          &_slide {
            img {
              aspect-ratio: 4 / 1.6125;
            }
          }
        }

      }

    }

    @media screen and (max-width: 767px) {
      @include spacing("margin", "top", 4);
      
      &--pagination {
        column-gap: 16px;
        @include spacing("margin", "bottom", 3);
        &-no {
          width: 40px;
          height: 40px;
          font-size: 16px;
          letter-spacing: 1px;
        }

      }

      &--item {
        &-content {
          &_slide {
            
            h6 {
              font-size: 14px;
              letter-spacing: 2.36px;
              @include spacing("margin", "bottom", 1);
            }
            h3 {
              font-size: 24px;
            }
            p {
              max-width: unset;
              @include spacing("padding", "horizontal", 3);
              font-size: 15px;
              line-height: 25px;
            }
          }
        }

        &-img {
          grid-row: 1;
          @include spacing("margin", "bottom", 4);
          &_slide {
            img {
              aspect-ratio: 4 / 1.8125;
            }
          }
        }

      }

    }

  }

}

